<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Food Detail</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div th:replace="~{navbar :: nav1}"></div>

<div class="container text-center">
    <div class="row">

        <h1>Detalle de comida</h1>
        <div class="col"></div>

        <div class="col">

            <div th:if="${error}">
                <div class="alert alert-danger" role="alert" >
                    <p th:text="${error}"></p>
                </div>
                <a class="btn btn-primary" th:href="@{/foods}">Volver</a>
            </div>


            <div class="card" th:if="${error} == null">
                <img src="https://dummyimage.com/300" class="card-img-top" alt="Food Image">
                <div class="card-body">
                    <h5 class="card-title" th:text="${food.name}"></h5>
                </div>
                <ul class="list-group list-group-flush">
                </ul>
                <div class="card-body">
                    <a class="btn btn-primary" th:href="@{/foods}">Volver</a>
                    <a class="btn btn-success" th:href="@{/foods/{id}/edit(id=${food.id})}">Editar</a>
                    <a class="btn btn-danger" th:href="@{/foods/{id}/delete(id=${food.id})}">Borrar</a>
                </div>
            </div>
        </div>

        <div class="col"></div>
    </div>
</div>

<div th:replace="~{footer :: footer1}"></div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>